CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE plants_backup(
  plant_id INT,
  name TEXT,
  species TEXT,
  photo_path TEXT,
  location TEXT,
  notes TEXT
);
CREATE TABLE species (
  species_id INTEGER PRIMARY KEY,
  common_name TEXT,
  scientific_name TEXT,
  native_climate TEXT,
  care_context TEXT
, personality_prompt TEXT);
CREATE TABLE IF NOT EXISTS "plants" (
  plant_id INTEGER PRIMARY KEY,
  species_id INTEGER,
  name TEXT,
  photo_path TEXT,
  location TEXT,
  notes TEXT,
  FOREIGN KEY (species_id) REFERENCES species(species_id)
);
CREATE TABLE care_log_backup(
  log_id INT,
  plant_id INT,
  event_type TEXT,
  event_date NUM,
  notes TEXT
);
CREATE TABLE care_profiles_backup(
  care_profile_id INT,
  plant_id INT,
  season TEXT,
  watering_days INT,
  feeding_days INT,
  light_preference TEXT,
  notes TEXT
);
CREATE TABLE care_profiles (
  care_profile_id INTEGER PRIMARY KEY,
  plant_id INTEGER NOT NULL,
  season TEXT CHECK (season IN ('spring','summer','autumn','winter')),
  watering_days INTEGER,
  feeding_days INTEGER,
  light_preference TEXT,
  notes TEXT,
  FOREIGN KEY (plant_id) REFERENCES plants(plant_id)
);
CREATE TABLE care_log (
  log_id INTEGER PRIMARY KEY,
  plant_id INTEGER NOT NULL,
  event_type TEXT,
  event_date TEXT,
  notes TEXT,
  FOREIGN KEY (plant_id) REFERENCES plants(plant_id)
);
